.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-tertiary-color);
  color: var(--text-secondary-color);
  padding: 38px 48px;
  gap: 24px;
  text-align: center;
  font-weight: var(--text-weight);
}

.footer-content-wrapper img {
  margin-bottom: 20px;
}

.footer-content-wrapper p {
  margin: 20px 0;
  font-size: 20px;
  line-height: 36px;
}

.footer-content-wrapper p a {
  color: #2bfdbe;
  font-style: italic;
  text-decoration: none;
}

.social-media p {
  margin-bottom: 10px;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .bottom-hero .hero-img {
    background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }

  .footer-content {
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .bottom-hero .hero-img {
    background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
    background-size: cover;
    width: 100%;
  }

  .footer-content-wrapper {
    max-width: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .bottom-hero .hero-img {
    background-position: center;
  }

  .footer-content {
    padding: 52px 130px;
  }

  .footer-content-wrapper {
    max-width: none;
  }
}

/*===============================Início da estilização da página de contato===============================*/
.contact .hero-img {
  background: url(../img/contact/imagem-mulher-banco-por-do-sol.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .contact.bottom-hero .hero-img {
    background: url(../img/contact/imagem-mulher-banco-por-do-sol-tablet.png)
      no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .contact.bottom-hero .hero-img {
    background: url(../img/contact/imagem-mulher-banco-por-do-sol-tablet-desktop.png)
      no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-top: 88px;
  }
}

/*===============================Fim da estilização da página de contato===============================*/
