@import url("./global.css");

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
}

a.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
  border-top: 1px dashed #ffffff;
}

.menu {
  background-color: var(--background-tertiary-color);
  position: fixed;
  top: 140px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 1000;
  width: 100%;
  max-width: 768px;
  padding: 0;
  overflow-x: hidden;
}

.menu.active {
  transform: translateX(0);
}

.menu ul li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px dashed var(--line-menu-ul-color);
  cursor: pointer;
  padding: 20px;
}

.menu ul li:hover {
  background-color: rgba(30, 143, 255, 0.274);
}

.menu ul li a {
  font-size: 20px;
  color: var(--text-secondary-color);
  text-decoration: none;
  padding: 20px;
}

.hamburguer {
  cursor: pointer;
}