.main-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

img.logo-mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}

img.logo-desktop {
  display: none;
}

.menu {
  background-color: var(--background-tertiary-color);
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 1000;
  padding: 0;
}

.menu.active {
  transform: translateX(0%);
}
.menu ul {
border-top: 1px dashed #ffffff;
}

.menu ul li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px dashed var(--line-menu-ul-color);
  cursor: pointer;
  padding: 20px;
}

.menu ul li a {
  font-size: 20px;
  color: var(--text-secondary-color);
  text-decoration: none;
  padding: 20px;
}

.menu ul li a:hover {
  color: var(--primary-color);
}

.menu ul li a:hover {
  color: var(--primary-color);
}

.hamburguer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hamburguer {
    display: none;
  }

  .menu {
    position: relative;
    top: 0;
    transform: translateX(0);
    border: 0;
    justify-content: right;
    font-weight: var(--menu-text-weight);
    width: 100%;
  }

  .menu ul {
    display: flex;
    justify-content: flex-end;
    border: 0;
  }

  .menu ul li {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0 30px;
  }

  .menu ul li a {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: var(--menu-text-weight);
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }
  img.logo-mobile {
    display: none;
  }

  img.logo-desktop {
    display: inline-block;
    width: 245px;
    height: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .main-header {
  padding: 38px 130px;
}
}
