.hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.hero h2 {
  margin: 0;
  padding: 88px 24px;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    width: 100%;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1360px) {
  .hero h2 {
    padding: 88px 0;
  }
}

/*======================Estilização da página de pacotes de viagem======================*/
.menu .active {
  text-decoration: underline;
}

.travel-package.hero {
  margin-bottom: 88px;
}

.travel-package.hero .hero-img {
  background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 460px;
  display: flex;
  align-items: center;
}

.travel-package .hero-content {
  color: var(--text-secondary-color);
  max-width: 500px;
  width: 100%;
  margin: 0px 4%;
  padding: 10px;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-content hr {
  max-width: 180px;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  margin: 16px 0 32px 0;
  border: none;
}

.hero-content p.content-text {
  color: var(--text-primary-color);
  font-size: 22px;
  line-height: 36px;
  font-weight: var(--menu-text-weight);
}

.travel-package.bottom-hero .hero-img {
  background: url(../img/travel-packages/japan-bg-bottom-hero-mobile.png)
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .travel-package.hero .hero-img {
    background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  .travel-package .hero-content {
    margin: 0 6%;
    padding: 0;
  }

  .hero-content hr {
    max-width: 360px;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    margin: 16px 0 32px 0;
    border: none;
  }

  .hero-content p.content-text {
    color: var(--text-secondary-color);
    font-size: 24px;
    line-height: 36px;
    font-weight: var(--menu-text-weight);
  }

  .travel-package.bottom-hero .hero-img {
    background: url(../img/travel-packages/japan-bg-bottom-hero-tablet.png)
      no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .travel-package.hero .hero-img {
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 450px;
  }

  .travel-package .hero-content {
    margin: 0 0 0 50px;
    padding: 0;
  }

  .travel-package .bottom-hero .hero-img {
    background: url(../img/travel-packages/japan-bg-bottom-hero-desktop.png)
      no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .travel-package.hero .hero-img {
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
  }

  .travel-package .hero-content {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
  }

  .hero-content p.content-text {
    max-width: 700px;
  }
}

/*======================Fim da estilização da página de pacotes de viagem======================*/

/*======================Início da estilização da página de contatos======================*/

.contact.hero .hero-img {
  background: url(../img/contact/Banner-Contato.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .contact.hero .hero-img {
    background: url(../img/contact/Banner-Contato-tablet.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .contact.hero .hero-img {
    background: url(../img/contact/Banner-Contato-desktop.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
  }
}
/*======================Fim da estilização da página de contatos======================*/