section.payments {
  position: relative;
}

.content-container {
  padding-top: 20px;
}

.text-content {
  padding: 0 4%;
}

.text-content h3.content-title {
  margin-bottom: 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 510px;
  margin: 20px 0;
  width: 100%;
}

.image.bag {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: contain;
  background-position: left;
}

.image.passport {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: contain;
  background-position: right;
}

.image.people.colspan-2 {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: contain;
  background-position: top;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .text-content {
    padding: 0;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 550px;
  }

  .image.bag {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: contain;
  }

  .image.passport {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: contain;
  }

  .image.people.colspan-2 {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1024px) {
  .content-container {
    display: flex;
    justify-content: space-between;
  }

  .text-content {
    padding: 0 10px;
  }

  .image-gallery {
    width: 790px;
    margin: 0 20px 0 0;
    height: 320px;
  }

  .image.passport {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: contain;
    background-position: right;
  }
}

@media screen and (min-width: 1440px) {
  .content-container {
    padding: 10px 0 20px 40px;
  }
  .text-content {
    padding: 20px 10px 0 0;
    max-width: 550px;
    width: 100%;
  }

  .image-gallery {
    width: 700px;
        margin: 0 auto;
        padding: 20px 0;
        height: 450px;
  }

  .image.bag {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image.passport {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image.people.colspan-2 {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
